h1 {
  font-size: 2em;
}
h4 {
  font-weight: bold;
}

.mainLayout {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  position: relative;
  margin: 0 auto 100px auto;
}

.layout {
  margin: 20px;
  height: 85vh;
  width: 70vw;
}

.server_resp, .panelLeft {
  width: 55vw;
}

.panelRight {
  width: 45vw
}

.layout input, .layout p, .layout summary {
  width: 49%;
}
.server_resp input {
  width: 300px;
  padding: 10px;
}
.panel-body {
  display: flex;
  flex-direction: row;
}

.fields {
  margin: 10px 0;
  padding: 10px 0;
}
a svg{
  margin-left: 15px;
  height: 18px;
  width: 18px;
  fill: #a6266e;
}

.Dropdown-root, .spaces_dropdown, .spaces_msg {
  width: 500px;
}

.spaces_dropdown, .spaces_msg {
  margin-bottom: 40px;
}

.buttonBar {
  margin: 40px 0;
}

.panelRight {
  position: relative;
  top: 150px;
}

dt, dd {
  margin: 15px 10px;
}

.custom-modal {
  height: 400px;
  width: 800px;
}

.button {
  cursor: pointer;
}
